html, body {
    background: #344d66;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #b0b4bf;
}

body {
    margin: 0
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}